@media (min-width: 992px) {
    .order-lg-2 {
        order: 2;
    }
}

@media (min-width: 992px) {
    .order-lg-1 {
        order: 1;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}